html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-color: #f4f4f9;
    }
    
    header {
    background-color: #eabfff;
    color: #d565d3;
    text-align: center;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    
    main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-bottom: 140px;
    }
    
    .category {
    width: 100%;
    max-width: 1200px;
    margin-bottom: 40px;
    }
    
    .category h2 {
    text-align: left;
    color: #333;
    margin-bottom: 10px;
    }
    
    .product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    width: 100%;
    }
    
    .menu {
    padding: 20px;
    background-color: #f8e1ff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    flex: 1 1 calc(33.333% - 40px);
    max-width: 300px;
    box-sizing: border-box;
    }
    
    .menu:hover {
    transform: scale(1.05);
    }
    
    .menu p {
    font-weight: bold;
    color: #333;
    margin: 5px 0;
    font-size: 1.4rem;
    }
    
    .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 10px 0;
    border-radius: 5px;
    }
    
    .items {
    font-weight: bold;
    color: #333;
    }
    
    footer {
    background-color: #f8f9fa;
    padding: 10px;
    text-align: center;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    }
    
    .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    height: 120px;
    padding: 0;
    }
    
    .bottom-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    }
    
    .view-cart-button {
    background-color: #d565d3;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    width: 80%;
    margin: 10px 0;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    }
    
    .view-cart-button:hover {
    background-color: #ca21bc;
    }
    
    .view-cart-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }
    
    .bottom-bar-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    }
    
    .total-price, .total-items {
    font-weight: bold;
    font-size: 1rem;
    margin: 0 10px;
    text-align: center;
    }
    
    .modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    }
    
    .modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
    }
    
    #modal-product-name {
    font-size: 2.5rem;
    color: #d565d3;
    margin-bottom: 20px;
    }
    
    #modal-product-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
    }
    
    #modal-price-info p,
    #modal-product-description {
    font-size: 1.4rem; /* Tamaño de fuente reducido */
    margin: 10px 0;
    color: #555;
    line-height: 1.5;
    padding: 8px;
    border-radius: 5px;
    background-color: #f8e1ff;
    font-weight: bold;
    font-style: normal;
    }
    
    #flavors-selection {
    margin-top: 35px;
    text-align: left;
    }
    
    #flavors-selection h3 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 10px;
    }
    
    .flavor-control {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Espacio entre el contenedor y el checkbox */
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8e1ff;
    border-radius: 5px;
    }
    
    .nombre-precio-container {
    display: flex;
    align-items: center;
    flex-grow: 1; /* Ocupar el espacio disponible */
    }
    
    .flavor-name {
    font-weight: bold;
    color: #333;
    font-size: 1.2rem;
    }
    
    .opcional-item input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #d565d3;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Mover el margen al checkbox */
    }
    
    .control-buttons {
    display: flex;
    align-items: center;
    }
    
    .control-button {
    background-color: #d565d3;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    transition: background-color 0.3s;
    }
    
    .control-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    }
    
    .quantity-display {
    width: 40px;
    text-align: center;
    font-size: 1.5rem;
    color: #333;
    }
    
    .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }
    
    .close-button:hover,
    .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }
    
    /* Media query para pantallas pequeñas */
    @media (max-width: 768px) {
    .product-list {
        justify-content: center;
    }
    
    .menu {
        flex: 1 1 100%;
        max-width: 90%;
    }
    
    .bottom-bar-info {
        flex-direction: column;
        align-items: center;
    }
    
    .view-cart-button {
        width: 90%;
    }
    }
    
    /* Spinner */
    .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 9999;
    }
    
    .spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
    }
    
    /* Ocultar contenido */
    .hidden {
    display: none;
    }